/* SECTION HERO */

.hero-section {
    height: 100vh;
    width: 100%;
    background-color: var(--hero-bg);
    display: flex;
    align-items: center;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: center;
}

.hero-image {
    height: 450px;
}

.hero-text h1 {
    font-size: clamp(2rem, 5vw, 4rem);
    font-family: var(--Playfair);
    line-height: 1.1;
}

.hero-text p {
    font-size: clamp(0.7rem, 2vw, 1.25rem);
    margin: 1rem 0;
    font-weight: 300;
}

.hero-text a {
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    border-bottom: 1px solid var(--text-main);
    padding-bottom: 5px;
    color: var(--text-main);
}

/* SECTION ABOUT */

.about {
    display: flex;
    align-items: center;
    gap: 80px;
}

.about-image {
    height: 550px;
    flex: 1.2;
}

.about-text {
    flex: 0.8;
}

.about-title {
    font-size: 2rem;
    font-family: var(--Playfair);
}

.about-quote {
    font-size: 1.5rem;
    font-family: var(--Playfair);
    font-style: italic;
    margin: 32px 0 24px 0;
}

.about-footer {
    display: flex;
    gap: 40px;
    margin-top: 30px;
    border-top: 1px solid var(--border-color);
    padding-top: 20px;
}

/* SECTION PROJECT */

.project-title {
    font-family: var(--Playfair);
    font-size: 2.2rem;
    margin-bottom: 2rem;
}


.scroll-wrapper {
    display: flex;
    overflow-x: auto;
    gap: 30px;
    padding-bottom: 30px;
}

.project-card {
    min-width: 400px;
    height: 500px;
    position: relative;
    background: #000;
    overflow: hidden;
    cursor: pointer;
}

.project-card img {
    opacity: 0.8;
    filter: grayscale(100%);
    transition: 0.5s;
}

.project-card:hover img {
    opacity: 1;
    filter: grayscale(0%);
    transform: scale(1.05);
}

.project-name {
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: #fff;
}

.scroll-wrapper::-webkit-scrollbar {
    height: 6px;
}

.scroll-wrapper::-webkit-scrollbar-thumb {
    background: var(--text-main);
    border-radius: 10px;
}

.scroll-wrapper::-webkit-scrollbar-track {
    background: var(--border-color);
}

/* SECTION DESIGN */
.design-title {
    font-family: var(--Playfair);
    font-size: 2.2rem;
    margin-bottom: 2rem;
}

.expertise-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.ex-card {
    border: 1px solid var(--border-color);
    background-color: var(--card-bg);
    transition: 0.3s;
}

.ex-card:hover {
    border-color: var(--text-main);
    transform: translateY(-5px);
}

.ex-img {
    height: 300px;
    cursor: pointer;
}

.ex-info {
    padding: 25px;
}

/* responsive design */

@media (max-width: 1024px) {

    .hero {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 30px;
    }

    .about {
        flex-direction: column;
        gap: 40px;
    }

    .expertise-grid {
        grid-template-columns: 1fr;
    }

    .project-card {
        min-width: 85vw;
    }

}